$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower


@import "layout/footer";

@import "modules/panel";
@import "modules/settings";
@import "modules/map";
@import "modules/pokebank";
@import "modules/loot";
@import "modules/eggs";
@import "modules/profile";
@import "modules/log";


/* ===============
    GENERAL STYLES
   =============== */
html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 65px;
  margin-bottom: 60px;

  &.no-settings {
    overflow: hidden;
  }

  .nanobar-holder {
    position: absolute;
    top: 50px;
    min-height: 10px;
    width: 100%;

    .nanobar {

      .bar {
        background: $brand-danger;
      }
    }
  }
}