.log-wrapper {
  width: 100%;
  height: 370px;
  background-color: #1b1e24;
  overflow: scroll;

  .log {
    display: inline-block;
    width: 100%;
    padding: 5px;
    vertical-align: bottom;

    span.yellow {
      color: yellow;
    }

    span.green {
      color: green;
    }

    span.red {
      color: red;
    }

    span.normal {
      color: white;
    }

    span.white {
      color: white;
    }

    span.black {
      color: #777;
    }

    span.blue {
      color: #28f;
    }

    span.magenta {
      color: #f0f;
    }

    span.cyan {
      color: #0ff;
    }
  }
}